* {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
body {
	max-width: 50em;
	margin: 0 auto;
	color: #333;
}

pre, code {
	font-family: Monaco, Courier New, monospace;
	font-size: 11px;
}

h1 {
	font-size: 45px;
	font-weight: 100;
	letter-spacing: -1px;
	margin-bottom: -5px;
}
h1 code {
	font-size: 40px;
}

h2 {
	color: rgb(43,105,145);
	font-weight: bold;
	margin-bottom: -5px;
}
h2 code {
	font-size: 22px;
}

h3 {
	margin-bottom: -5px;
}
h3 code {
	font-size: 16px;
}

a {
	color: #773399;
	text-decoration: none;
}
a:visited {
	color: #551177;
}
a:hover {
	text-decoration: underline;
}

pre {
	border-radius: 3px;
	border-width: 1px;
	border-color: #999;
	border-style: solid;
	padding: 0.5em;
	background-color: #f1f1f1;
	overflow: auto;
	color: #333;
}

p, li {
	font-size: 13px;
	line-height: 18px;
}